body {
  background: #eee;
  font-family: "Helvetica Neu", Arial;
  color: #666;
  padding: 0;
  margin: 0;
}

h1 {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  display: block;
  font-weight: 200;
  padding: 0.6rem;
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}

h1 small {
  color: #999;
}

div.prettyBox {
  box-sizing: border-box;
  padding: 2rem;

  margin: 0 auto;
  margin-top: 2rem;
  max-width: 90%;
  min-width: 60%;
  width: 500px;
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  text-align: center;
}

div.prettyBox h2 {
  margin-top: 0;
}

div.prettyBox p {
  color: #999;
  font-weight: 200;
  font-size: 26px;
}

div.prettyBox p {
  margin: 0;
  margin-bottom: 1rem;
}

div.prettyBox img {
  width: 50px;
}

@media screen and (max-width: 380px) {
  h1 {
    font-size: 24px;
    padding: 0.5rem;
  }
  h2 {
    font-size: 18px;
  }
  div.prettyBox p {
    font-size: 20px;
  }
  div.prettyBox {
    padding: 1rem;
  }
}
